<div class="about-main">
  <div class="about-message">
    <h1>ネコバリーってなんですニャ？</h1>
    <p>
      ネコバリーとは『ネコ専門』の写真投稿サービスです。<br>
      ユーザーの皆様には2つのミッションを与えます。
    </p>
    <div class="about-mission">
      <h2>その1　ネコ写真を投稿し、世界へ『デリバリー』(配達)する<h2>
        <h2>その2　ネコ写真を閲覧し、心身を『リカバリー』(治療)する <h2>
    </div>
    <p>立派なネコバリストを目指して、Let's ネコバリー！！</p>
  </div>
  <img class="about-img" src="/about-image-code.png">
</div>
