<div class="about-main">
  <div class="about-message">
    <h1>ネコバリーとは？</h1>
    <p>
      ネコバリーとは『ネコ専門』の写真投稿サービスです。<br>
      本サービスには主に2つのファンクションがあります。
    </p>
    <div class="about-mission">
      <h2>その1　ネコ写真を投稿し、全ユーザーに届ける『デリバリー』<h2>
      <h2>その2　ネコ写真を閲覧し、ユーザーの心を癒す『リカバリー』 <h2>
      <p id="about-comment">※投稿『デリバリー』はログイン後にご利用できます<p>
    </div>
    <p>『デリバリー』と『リカバリー』を使いこなし、最高の『ネコバリー』ライフを手に入れましょう!</p>
  </div>
  <img class="about-img" src="/about-image-code.png">
</div>
