<div class="about-main">
  <div class="about-message">
  <h1>ネコバリーってなんですニャ？</h1>
    <p>
      ネコバリーとは『ネコ専門』の写真投稿サービスです。<br>
      今も昔も、人間の暮らしに深く関わってきたネコ。<br>
      疲弊した世界中の人々に寄り添い、癒してくれるネコ。<br>
      そんなネコたちの姿をユーザーの『デリバリー』（お届け）していき、<br>
      投稿を閲覧する事でユーザーの心を『リカバリー』（回復）させていきます。
    </p>
  </div>
  <div class="about-img">
    <ul>
      <li>ネコをデリバリー<p>(投稿)<p><img class="about-img-example" src="/delivery.jpg"></li>
      <li><i class="fas fa-arrow-right"></i></li>
      <li>セカイをリカバリー<p>(閲覧)<p><img class="about-img-example" src="/ricovery.jpg"></li>
    </ul>
  </div>
  <div class="about-codes">
    <h2>つまり</h2>
    <img class="about-code" src="/about-image-code.png">
  </div>
</div>
