<div class="main top-main">
  <div class="top-message">
    <h1>NECO GA SEKAI WO SUKUU</h1>
    <br><br>
    <h1>CATS SAVE THE WORLD</h1>
  </div>
  <%= link_to("/signup") do%>
    <button>
      飼い主になる <i class="fas fa-paw"></i>
    </button>
  <% end %>    
</div>
