<div class="main top-main">
  <div class="top-message">
    <h1>NECO GA SEKAI WO SUKUU</h1>
    <br>
    <h1>CATS SAVE THE WORLD</h1>
  </div>
    <div class="form top-user-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <h2>ログインするニャ！</h2>
        <%= form_tag("/login") do %>
          <p>メールアドレス</p>
          <input name="email" value="guest@example.com">
          <p>パスワード</p>
          <input name="password" type="password" value="guest-user">
          <button type="submit">ログイン <i class="fas fa-paw"></i></button>
        <% end %>
      </div>
    </div>
  </div>
