/* top */
.top-main {
  padding: 130px 0 40px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: coral;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("/top.jpg");
}

.top-message {
  position: relative;
  margin-bottom: 10%;
}

.top-main h1 {
  font-size: 70px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.top-user-form {
  color: black;
}

.top-user-form h2 {
  margin-bottom: 3%;
}

.top-user-form p {
  text-align: left;
}

.top-user-form .form-body button {
  float: none;
  position:center;
  margin-top: 7%;
}

/* about  */
.about-main {
  padding: 180px 10% 5% 10%;
}

.about-message{
  margin-bottom:2em;
  text-align:center;
}

.about-message h1 {
  margin-bottom:1em;
  font-size: 64px;
  font-weight: 500;
  line-height: 1.4;
  color: coral;
}

.about-message h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  color: coral;
}

.about-mission{
  margin:2em 0 2em 0;
}

.about-message p {
  font-weight: 200;
  font-size: 20px;
  color: lemonchiffon;
}

#about-comment{
  color: black;
  font-size: 15px;
  text-align: center;
}

.about-img {
  width:80%;
  padding-left:20%;
}


/*responsive*/
@media screen and (max-width: 600px){
  .top-main{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/top2.jpg");
    padding:70px 0 0 0;
  }
  .top-main h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    padding-left: 10%;
  }
  .top-main-button{
    margin-top:20%;
  }
  .top-message {
    margin-bottom: 3%;
  }
  .container {
    margin: 10px 0 0 0;
    padding: 0;
  }
  .about-main {
    padding: 80px 10% 5% 10%;
  }
  .about-message{
    text-align:left;
  }
  .about-message h1 {
    text-align:left;
    font-size:50px;
  }

  .about-message h2 {
    font-size:30px;
  }
  .about-img{
    width:100%;
    padding:0;
  }
}
