// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* posts index  */
.posts-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

/*posts common?*/
.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-user-name img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  margin-left: 10%;
}

.post-right img {
  width: 100%;
  max-width: 600px;
  border-radius: 5%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* posts show  */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}

.posts-show-item .post-user-name a {
  vertical-align: middle;
  font-size: 24px;
  margin-left: 15px;
}

.posts-show-item p {
  font-size: 24px;
  margin: 20px 0;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.like-btn {
  color:#8899a6;
}

.like-btn-unlike {
  color:#ff2581;
}

.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
}

/* posts new  */
.post-preview img{
  width: 100%;
  max-width: 600px;
  border-radius: 5%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.posts-new textarea {
  font-size: 20px;
  padding: 10px;
  min-height: 140px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 24px;
  opacity: 0.5;
}

.post-img-button {
  padding: 0 0 15% 32%;

}

.post-img-button a {
  background-color: coral;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  border-style: solid;
  border-width: thick;
  border-color:gray;
  margin: 8px 14px  ;
  padding: 6px 0 0 4%;
  float: left;
  font-family:"Nico Moji","ヒラギノ丸ゴ ProN",sans-serif;
}
